<update-meta name="author" content="{{meta.author}}"></update-meta>
<update-title title="{{meta.title}}"></update-title>

<update-meta name="description" content="{{meta.desc}}" ></update-meta>
<update-meta property="og:title" content="{{meta.title}}" ></update-meta>
<update-meta property="og:url" content="http://comparesmartly.in" ></update-meta>
<update-meta property="og:image" content="res/img/home.jpg" />
<update-meta property="og:type"   content="{{meta.type}}" />
<update-meta property="og:site_name" content="CompareSmartly" />	
<update-meta property="og:description" content="We, CompareSmartly, help you find the best products in your budget in India and help you find the best price online" />

<update-meta name="twitter:site" content="{{meta.site}}">
    <update-meta name="twitter:title" content="{{meta.twitter}}">
        <update-meta name="twitter:description" content="We, CompareSmartly, help you find the best products in your budget in India and help you find the best price online">
            <update-meta name="twitter:image" content="res/img/home.jpg">


                <nav class="navbar navbar-static-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Coolers And Heaters</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Contact</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                <nav class="navbar navbar-inverse" style="margin-top: 20px;">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="http://html.templines.com/shoptime-html/cooncook/images/logo.png"/></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Air Conditioners <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Coolers</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACs Types<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Split ACs</a></li>
                                        <li><a href="#">Window ACs</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>