<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/product.css" rel="stylesheet">
    </head>
    <body style="background: #f3f6f6">
        <nav class="navbar navbar-default anav" style="margin-bottom: 0px">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-default anav">
            <div class="container-fluid" >
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="min-height: 80px" href="#"><img src="http://html.templines.com/shoptime-html/cooncook/images/logo.png"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container" >
            <h1> Product Name </h1>
            <div class="row">
                <div class="col-lg-6"> 
                    <div class="panel">
                        <image src="http://html.templines.com/shoptime-html/cooncook/media/product/big.jpg"  class="img-responsive" style="margin: 0 auto" />
                        <div class="row">
                            <div class="col-lg-3" >
                                <image src="http://html.templines.com/shoptime-html/cooncook/media/product/big.jpg" style="width: 100px; height: 100px" class="altImg" />
                            </div>
                            <div class="col-lg-3" >
                                <image src="http://html.templines.com/shoptime-html/cooncook/media/product/big.jpg" style="width: 100px; height: 100px" class="altImg" />
                            </div>
                            <div class="col-lg-3" >
                                <image src="http://html.templines.com/shoptime-html/cooncook/media/product/big.jpg" style="width: 100px; height: 100px" class="altImg" />
                            </div>
                            <div class="col-lg-3" >
                                <image src="http://html.templines.com/shoptime-html/cooncook/media/product/big.jpg" style="width: 100px; height: 100px" class="altImg" />
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-6">    
                    <div class="panel">
                        <div class="panel-heading" >
                            <h4>Description</h4>
                        </div>
                        <div class="panel-body">
                            <h5>Care instructions</h5>
                            <p> Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth.
                                Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth. Pellentesque congue ac arcu sed auctor.
                                Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth. Pellentesque congue ac arcu sed auctor.
                                Etiam pretium, arcu id mattis aliquet, est neque sagittis quam, id mollis leo urna non dui.</p>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading" >
                            <h4>Key Fetures</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled" >
                                <li> Layer-glued bent beech frame gives comfortable resilience.</li>
                                <li> Layer-glued bent beech frame gives comfortable resilience. </li>
                                <li> Layer-glued bent beech frame gives comfortable resilience.</li>
                                <li> Layer-glued bent beech frame gives comfortable resilience.</li>
                                <li> Layer-glued bent beech frame gives comfortable resilience.</li>
                            </ul>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#1a" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#2a" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#3a" data-toggle="tab">Messages</a></li>
                </ul>
                <div class="tab-content clearfix">
                    <div id="1a" class="tab-pane active">
                        <div class="panel">
                              <h5>Care instructions</h5>
                            <p> Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth.
                                Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth. Pellentesque congue ac arcu sed auctor.
                                Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth. Pellentesque congue ac arcu sed auctor.
                                Etiam pretium, arcu id mattis aliquet, est neque sagittis quam, id mollis leo urna non dui.</p>
                        </div>
                    </div>
                    <div id="2a" class="tab-pane">
                        <div class="panel">
                              <h5>Care instructions</h5>
                            <p> Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth.
                               </p>
                        </div>
                    </div>
                    <div id="3a" class="tab-pane">
                        <div class="panel">  <h5>Care instructions</h5>
                            <p> Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth.
                                Wipe clean using a damp cloth and a mild cleaner. Wipe dry with a clean cloth. Pellentesque con</p></div>
                    </div>
                    <div id="4a" class="tab-pane">
                        <div class="panel"></div>
                    </div>
                </div>
            </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </body>
</html>
